<% @title="WC? | Search Results [#{@search}]" %>

<h1 align="center">Search Results</h1>

<!-- Cookbooks Search Results -->
<% if @cookbooks.length > 0 %>
	<h3 class="col-md-12" style="background: white; padding:5px; text-align:center">Cookbooks</h3>
	<%= render :partial => 'cookbooks/cookbooklist' %>
<% end %>


<!-- Recipes Search Results -->
<% if @recipes.length > 0 %>
	<h3 class="col-md-12" style="background: white; padding:5px; text-align:center">Recipes</h3>
	<%= render :partial => 'recipes/recipelist' %>
<% end %>

<% if @recipes.length < 1 && @cookbooks.length < 1 %>
	<div class="notice">
		<p>Sorry, no public cookbooks or recipes match your search. Please try again.</p>
	</div>
<% end %>


