<% @title="WC? | Cookbooks" %>

<h1 align="center">List of Cookbooks</h1>
<h4 align="center"><%= will_paginate @cookbooks %></h4>
<% if !current_user.the_admin? %>
	<%= button_to "Create Cookbook", new_cookbook_path, method: :get, class: "btn btn-primary col-md-12" %>
<% end %>

<%= render 'cookbooklist' %>


